<main class="card shadow-lg form-signin " width="100vw">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <img class="mb-4" src="../../assets/images/logo.png" alt="" width="50%" height="25%">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-2">
      <input formControlName="username" type="email" class="form-control" autocomplete="off">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-2 ">
      <input formControlName="password" type="password" class="form-control" autocomplete="off">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

  </form>
</main>