<app-nav-clerk></app-nav-clerk>
<div class="container signin">
  <main class="card shadow-lg form-signin">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <h1 class="h3 mb-3 fw-normal text-center ">Stock Posting</h1>
      <div class="form-floating ">
        <input formControlName="product_name" class="form-control mb-2 " placeholder="Product">
        <label for="floatingInput ">Product</label>
      </div>

      <div class="form-floating ">
        <input formControlName="quantity" class="form-control mb-2 " placeholder="Received quantity">
        <label for="floatingInput ">Received Quantity</label>
      </div>
      <div class="form-floating ">
        <input formControlName="spoilt_quantity" class="form-control mb-2 " placeholder="Spoilt quantity">
        <label for="floatingPassword ">Spoilt Quantity</label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-success " type="submit ">Post for Approval</button>
    </form>
  </main>
</div>