<app-navbar></app-navbar>
<div class="row p-3">
  <div class=" col-md-4 text-center card shadow-lg p-3">
    <div>
      <form class="add product " #addProductForm="ngForm" (submit)="addProduct(addProductForm)">
        <h1 class="h3 mb-3 fw-normal text-center ">Add New Product</h1>
        <div class="form-floating ">
          <input required name='name' [(ngModel)]="name" class="form-control mb-4 " placeholder="name " autocomplete="off ">
          <label for="floatingInput ">Name</label>
        </div>
        <div class="form-floating">
          <select required name='store' [(ngModel)]="store" class="form-control mb-4" placeholder="Store">
            <option *ngFor="let store of stores" [value]="store.name">{{store.name}}</option>
        </select>
          <label for="floatingInput">Store</label>
        </div>
        <div class="form-floating ">
          <input required name='cost' [(ngModel)]="cost" class="form-control mb-4 " placeholder="cost " autocomplete="off ">
          <label for="floatingInput ">Cost</label>
        </div>
        <div class="form-floating ">
          <input required name='price' [(ngModel)]="price" class="form-control mb-4 " placeholder="Price " autocomplete="off ">
          <label for="floatingPassword ">Price</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-success " type="Admin ">Add Product</button>
      </form>
    </div>
  </div>
  <div class="col-md-8 ">
    <app-products> </app-products>
  </div>