<div class="card-body">
    <!-- table 1 -->
    <div class="table-responsive">
        <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Start Date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>clerk</td>
                    <td>32</td>
                    <td>2011/04/25</td>
                    <td>32,000</td>
                </tr>
                <tr>
                    <td>Tony</td>
                    <td>clerk</td>
                    <td>22</td>
                    <td>2014/09/20</td>
                    <td>32,000</td>
                </tr>
                <tr>
                    <td>Jane</td>
                    <td>clerk</td>
                    <td>42</td>
                    <td>2010/12/15</td>
                    <td>32,000</td>
                </tr>
                <tr>
                    <td>Simon</td>
                    <td>clerk</td>
                    <td>30</td>
                    <td>2016/01/16</td>
                    <td>32,000</td>
                </tr>
                <tr>
                    <td>Phoebe</td>
                    <td>clerk</td>
                    <td>52</td>
                    <td>2013/11/28</td>
                    <td>32,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- table 2 -->
<div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Reference</th>
            <th scope="col">Customers</th>
            <th scope="col">Payment Mode</th>
            <th scope="col">Status</th>
            <th scope="col">Grand Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>30/12/2021</td>
            <td>S-920873850390</td>
            <td>Walk - in - customer</td>
            <td>------</td>
            <td class="table-success">Completed</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>28/12/2021</td>
            <td>S-920873850390</td>
            <td>Mitchel Stark</td>
            <td>Cash</td>
            <td class="table-danger">Unpaid</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>25/12/2021</td>
            <td>S-920873670390</td>
            <td>David Warner</td>
            <td>Bank</td>
            <td class="table-success">Completed</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>20/12/2021</td>
            <td>S-920873870390</td>
            <td>Walk - in - customer</td>
            <td>Cash</td>
            <td class="table-warning">Partial</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>17/12/2021</td>
            <td>S-920874550390</td>
            <td>Walk - in - customer</td>
            <td>------</td>
            <td class="table-danger">Unpaid</td>
          </tr>
        </tbody>
      </table>
</div>