<app-nav-clerk></app-nav-clerk>
<div class="row p-3">
  <div class="col-md-4">
    <div class="container sRequest">

      <main class="card shadow-lg form-sRequest" width="100vw">
        <form #addRequestForm="ngForm" (submit)="addRequest(addRequestForm)">
          <h1 class="h3 mb-3 fw-normal text-center">Restocking Request</h1>
          <div class="form-floating">
            <select required name='product_name' [(ngModel)]="product_name" class="form-control mb-4" placeholder="Product">
              <option *ngFor="let product of products" [value]="product.name">{{product.name}}</option>
           </select>
            <label for="floatingInput">Product</label>
          </div>
          <div class="form-floating">
            <input required name='quantity' [(ngModel)]="quantity" class="form-control mb-4" placeholder="Quantity">
            <label for="floatingInput">Quantity</label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-success" type="submit">Send Request</button>
        </form>
      </main>
    </div>
  </div>
  <div class="col-md-8">
    <app-requesttable></app-requesttable>
  </div>
</div>