<app-sidenav></app-sidenav>
<div class="container" style="margin-top: 4vh;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Catergory</th>
        <th scope="col">Purchases</th>
        <th scope="col">sales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pens</td>
        <td>Stationary</td>
        <td>10 boxes</td>
        <td class="table-success">Paid</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Laptops</td>
        <td>Electronics</td>
        <td>5 items</td>
        <td class="table-warning">Hire Purchase</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Tissue</td>
        <td>Sanitary</td>
        <td>20 rolls</td>
        <td class="table-success">Paid</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Iron box</td>
        <td>electronics</td>
        <td>10 items</td>
        <td class="table-danger">not paid</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Glasses</td>
        <td>Personal</td>
        <td>30 pieces</td>
        <td class="table-success">Paid</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Pensils</td>
        <td>Stationary</td>
        <td>10 boxes</td>
        <td class="table-success">paid</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Towel</td>
        <td>Sanitary</td>
        <td>20 items</td>
        <td class="table-danger">not paid</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Tv set</td>
        <td>Electrical</td>
        <td>3 items</td>
        <td class="table-warning">Hire Purchase</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Watches</td>
        <td>Personal</td>
        <td>30 items</td>
        <td class="table-success">paid</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Electric Kettle</td>
        <td>Electrical</td>
        <td>10 items</td>
        <td class="table-warning">Hire purchase</td>
      </tr>
    </tbody>
  </table>
</div>
