<app-sidenav></app-sidenav>
<div class=" container shadow-lg table-responsive">
    <h1>Stock status</h1>
    <table class=" table ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Store</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pencils</td>
          <td>Stationary</td>
          <td>50</td>
          <td><button type="button" class="btn btn-outline-success">Approved</button></td>
        </tr>
        <tr>
          <td>Tissue</td>
          <td>Sanitary</td>
          <td>50</td>
          <td><button type="button" class="btn btn-outline-warning">Pending</button></td>
        </tr>
        <tr>
          <td>Laptop</td>
          <td>Technicals</td>
          <td>100,000</td>
          <td><button type="button" class="btn btn-outline-danger">Declined</button></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>Technicals</td>
          <td>50,000</td>
          <td><button type="button" class="btn btn-outline-warning">Pending</button></td>
        </tr>
      </tbody>
    </table>