<div class=" sidenav">
  <div class=" logo">
    <a href="" class=" btn simple-text logo-mini">
      <div class="logo-img">
        <img src="../../assets/images/logo.png " alt="">
      </div>
    </a>
  </div>
  <br>
  <div>
    <ul class="nav">
      <li classs="active">
        <a href="">
          <i class="material-icons">dashboard</i>Dashboard
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">inventory</i>Products
        </a>
        <li>
          <a href="">
            <i class="material-icons">store</i>Stores
          </a>
        </li>
        <li>
          <a href="">
            <i class="material-icons">monitization</i>Trading
          </a>
        </li>
    </ul>
  </div>

</div>