.offcanvas-body {
  background-color: rgb(218, 245, 245);
  font-family: 'Acme', sans-serif;
  font-size: 150%;
}

.navbar {
  background-color: rgb(21, 21, 250);
}

.offcanvas-header {
  display: flex;
  justify-content: space-around;
}

#close_button {
  position: absolute;
  right: 3%;
  top: 3%;
}