.offcanvas-body {
  background-color: rgb(218, 245, 245);
  font-family: 'Acme', sans-serif;
  font-size: 150%;
}

.navbar {
  background-color: rgb(21, 21, 250);
}

.offcanvas-header {
  display: flex;
  justify-content: space-around;
}

#close_button {
  position: absolute;
  right: 3%;
  top: 3%;
}

.profile {
  float: right;
}

#clerk_img {
  height: 9vh;
  width: 5vw;
  border-radius: 50%;
}

p {
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 0.7;
}