.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.stock_table {
  width: 100%;
}

td,
th {
  width: 19%;
  font-weight: 400;
  font-size: 10px;
}

.filter {
  font-size: 18px;
}

th {
  font-size: 12px;
  font-weight: 700;
  color: black;
}