<form class='form-signup' [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Register here</h1>
  <div class="form-floating">
    <input formControlName="username" class="form-control" type="name" class="form-control" placeholder="Name">
    <label for="floatingInput">username</label>
  </div>

  <div class="form-floating">
    <input formControlName="email" class="form-control" type="email" class="form-control" placeholder="email">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input formControlName="password" class="form-control" type="password" class="form-control" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating">
    <input formControlName="password2" class="form-control" type="password" class="form-control" placeholder="Password">
    <label for="floatingPassword">Confirm Password</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>