<app-nav-clerk></app-nav-clerk>
<div class=" row m-2">
  <div class="col-md-4 signin ml-3">
    <main class="card shadow-lg form-signin" width="90vw">

      <form #addStocksForm="ngForm" (submit)="addStock(addStocksForm)">

        <h1 class="h3 mb-3 fw-normal text-center">Add New Stock</h1>
        <div class="form-floating">


          <select required name='product_name' [(ngModel)]="product_name" class="form-control mb-4" placeholder="Product">
            <option *ngFor="let product of products" [value]="product.name">{{product.name}}</option>
         
        </select>
          <label for="floatingInput">Product</label>
        </div>

        <div class="form-floating">
          <input required name='quantity' [(ngModel)]="quantity" class="form-control mb-4" placeholder="Quantity">
          <label for="floatingInput">Quantity</label>
        </div>
        <div class="form-floating">
          <input required name='received_quantity' [(ngModel)]="received_quantity" class="form-control mb-4" placeholder="received_quantity">
          <label for="floatingInput">Received Quantity</label>
        </div>
        <div class="form-floating">
          <input required name='payment' [(ngModel)]="payment" class="form-control mb-4" placeholder="payment">
          <label for="floatingInput">Payment</label>
        </div>

        <div class="form-floating">
          <input required name='spoilt_quantity' [(ngModel)]="spoilt_quantity" class="form-control mb-4" placeholder="spoilt_quantity">
          <label for="floatingPassword">Spoilt Quantity</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-success" type="submit">Post</button>
      </form>
    </main>
  </div>
  <div class="col-md-8">
    <div class="overflow-auto" height="50vh">
      <app-stocks></app-stocks>
    </div>

  </div>
</div>